# TOPIC: Data Warehousing Fundamentals
   1. Design a data warehouse schema for a retail company that includes dimension tables for products, customers, and time. Implement the schema using a relational database management system (RDBMS) of your choice.
   2. Create a fact table that captures sales data, including product ID, customer ID, date, and sales amount. Populate the fact table with sample data.
   3. Write SQL queries to retrieve sales data from the data warehouse, including aggregations and filtering based on different dimensions.

**Solution**

Let's go through each step to design the data warehouse schema, create the fact table, and write SQL queries to retrieve sales data.

Designing the Data Warehouse Schema:
For the retail company, we will create the following dimension tables: products, customers, and time.

Products Dimension Table:

**product_id (primary key)**
product_name,
category,
price,
... (other relevant product attributes)
Customers Dimension Table:

**customer_id (primary key)**
customer_name,
address,
email,
... (other relevant customer attributes)
Time Dimension Table:

**date_id (primary key)**
date,
day,
month,
year,
... (other relevant time attributes)
Creating the Fact Table and Populating it with Sample Data:
Let's create a fact table called "sales" to capture sales data. The fact table will contain the following columns:

**sales_id (primary key)**
product_id (foreign key referencing the products dimension table)
customer_id (foreign key referencing the customers dimension table)
date_id (foreign key referencing the time dimension table)
sales_amount

**Creating the Fact Table and Populating it with Sample Data:
Let's create a fact table called "sales" to capture sales data. The fact table will contain the following columns:**

sales_id (primary key)

product_id (foreign key referencing the products dimension table)

customer_id (foreign key referencing the customers dimension table)

date_id (foreign key referencing the time dimension table)

sales_amount

**Writing SQL Queries to Retrieve Sales Data:
Here are some sample SQL queries to retrieve sales data from the data warehouse:**

**a. Retrieve total sales amount for each product:**

SELECT p.product_name, SUM(s.sales_amount) AS total_sales
FROM sales s

INNER JOIN products p ON s.product_id = p.product_id

GROUP BY p.product_name;

**b. Retrieve total sales amount for each customer:**

SELECT c.customer_name, SUM(s.sales_amount) AS total_sales

FROM sales s

INNER JOIN customers c ON s.customer_id = c.customer_id
GROUP BY c.customer_name;

**c. Retrieve total sales amount for each month:**
    
    SELECT t.month, SUM(s.sales_amount) AS total_sales
    
    FROM sales s
    
    INNER JOIN time t ON s.date_id = t.date_id
    GROUP BY t.month;

**d. Retrieve sales amount for a specific product and customer:**
    
    SELECT p.product_name, c.customer_name, s.sales_amount
    
    FROM sales s
    INNER JOIN products p ON s.product_id = p.product_id
    INNER JOIN customers c ON s.customer_id = c.customer_id
    WHERE p.product_name = 'ProductA' AND c.customer_name = 'CustomerX';

# TOPIC: ETL and Data Integration
  1. Design an ETL process using a programming language (e.g., Python) to extract data from a source system (e.g., CSV files), transform it by applying certain business rules or calculations, and load it into a data warehouse.
  2. Implement the ETL process by writing code that performs the extraction, transformation, and loading steps.

In [ ]:
import csv
import psycopg2  # Assuming PostgreSQL as the data warehouse

# Extraction Step
def extract_data(csv_file):
    with open(csv_file, 'r') as file:
        reader = csv.DictReader(file)
        return list(reader)

# Transformation Step
def transform_data(data):
    transformed_data = []
    for row in data:
        # Apply business rules or calculations here
        # Example: Calculate total price by multiplying quantity and unit price
        total_price = float(row['quantity']) * float(row['unit_price'])

        transformed_row = {
            'product_name': row['product_name'],
            'total_price': total_price,
            # Add other transformed fields as needed
        }
        transformed_data.append(transformed_row)

    return transformed_data

# Loading Step
def load_data(data):
    conn = psycopg2.connect(database="your_database", user="your_user", password="your_password", host="your_host", port="your_port")
    cursor = conn.cursor()

    for row in data:
        # Assuming a table called 'sales' in the data warehouse
        cursor.execute("INSERT INTO sales (product_name, total_price) VALUES (%s, %s)", (row['product_name'], row['total_price']))

    conn.commit()
    cursor.close()
    conn.close()

# Main ETL process
def etl_process(csv_file):
    # Extraction
    extracted_data = extract_data(csv_file)

    # Transformation
    transformed_data = transform_data(extracted_data)

    # Loading
    load_data(transformed_data)

# Run the ETL process
etl_process('data.csv')  # Replace 'data.csv' with your actual CSV file name

# TOPIC: Dimensional Modeling and Schemas
   1. Design a star schema for a university database, including a fact table for student enrollments and dimension tables for students, courses, and time. Implement the schema using a database of your choice.
   2. Write SQL queries to retrieve data from the star schema, including aggregations and joins between the fact table and dimension tables.

**Designing the Star Schema:
The star schema for the university database will consist of a fact table for student enrollments and dimension tables for students, courses, and time.**

**Fact Table: Enrollments**

enrollment_id (primary key)

student_id (foreign key referencing the Students dimension table)

course_id (foreign key referencing the Courses dimension table)

time_id (foreign key referencing the Time dimension table)

grade

... (other relevant enrollment attributes)

**Dimension Table: Students**

student_id (primary key)

student_name

date_of_birth

major
... (other relevant student attributes)

**Dimension Table: Courses**

course_id (primary key)

course_name

department

instructor

... (other relevant course attributes)

**Dimension Table: Time**

time_id (primary key)

date

day

month

year
... (other relevant time attributes)

** 2. Write SQL queries to retrieve data from the star schema, including aggregations and joins between the fact table and dimension tables.**

-- Create the Students dimension table

CREATE TABLE Students (
    student_id SERIAL PRIMARY KEY,
    student_name VARCHAR(100),
    date_of_birth DATE,
    major VARCHAR(50)
    -- Add other student attributes as needed
);

-- Create the Courses dimension table

CREATE TABLE Courses (
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(100),
    department VARCHAR(50),
    instructor VARCHAR(100)
    -- Add other course attributes as needed
);

-- Create the Time dimension table

CREATE TABLE Time (
    time_id SERIAL PRIMARY KEY,
    date DATE,
    day INTEGER,
    month INTEGER,
    year INTEGER
    -- Add other time attributes as needed
);

-- Create the Enrollments fact table

CREATE TABLE Enrollments (
    enrollment_id SERIAL PRIMARY KEY,
    student_id INTEGER REFERENCES Students(student_id),
    course_id INTEGER REFERENCES Courses(course_id),
    time_id INTEGER REFERENCES Time(time_id),
    grade VARCHAR(2)
    -- Add other enrollment attributes as needed
);

-- Insert sample data into the dimension tables

INSERT INTO Students (student_name, date_of_birth, major) VALUES
    ('John Smith', '1995-02-15', 'Computer Science'),
    ('Jane Doe', '1998-07-03', 'Physics');

INSERT INTO Courses (course_name, department, instructor) VALUES
    ('Database Management', 'Computer Science', 'Dr. Johnson'),
    ('Quantum Mechanics', 'Physics', 'Prof. Williams');

INSERT INTO Time (date, day, month, year) VALUES
    ('2023-01-01', 1, 1, 2023),
    ('2023-02-01', 1, 2, 2023);

-- Insert sample data into the Enrollments fact table
INSERT INTO Enrollments (student_id, course_id, time_id, grade) VALUES
    (1, 1, 1, 'A'),
    (2, 2, 2, 'B');

-- SQL queries to retrieve data from the star schema

-- Retrieve all enrollments with student and course details

SELECT e.enrollment_id, s.student_name, c.course_name, e.grade
FROM Enrollments e
INNER JOIN Students s ON e.student_id = s.student_id
INNER JOIN Courses c ON e.course_id = c.course_id;

-- Retrieve total enrollments count by department and year

SELECT c.department, t.year, COUNT(*) AS enrollments_count
FROM Enrollments e
INNER JOIN Courses c ON e.course_id = c.course_id
INNER JOIN Time t ON e.time_id = t.time_id
GROUP BY c.department, t.year;

# **TOPIC: Performance Optimization and Querying**
    1. Scenario: You need to improve the performance of your data loading process in the data warehouse. Write a Python script that implements the following optimizations:Utilize batch processing techniques to load data in bulk instead of individual row insertion.
      b)  Implement multi-threading or multiprocessing to parallelize the data loading process.
      c)  Measure the time taken to load a specific amount of data before and after implementing these optimizations.

In [ ]:
import psycopg2
import csv
import time
from multiprocessing import Pool

# Define your database connection details
DB_NAME = "your_database"
DB_USER = "your_user"
DB_PASSWORD = "your_password"
DB_HOST = "your_host"
DB_PORT = "your_port"

# Define the number of threads or processes to use
NUM_THREADS = 4

# Define the batch size for bulk data loading
BATCH_SIZE = 1000

# Function to load data in batches
def load_data_batch(batch_data):
    conn = psycopg2.connect(
        database=DB_NAME, user=DB_USER, password=DB_PASSWORD, host=DB_HOST, port=DB_PORT
    )
    cursor = conn.cursor()

    # Assuming a table called 'your_table' in the data warehouse
    query = "INSERT INTO your_table (column1, column2, ...) VALUES (%s, %s, ...)"
    cursor.executemany(query, batch_data)

    conn.commit()
    cursor.close()
    conn.close()

# Function to load data using multiprocessing
def load_data_multiprocessing(data):
    pool = Pool(NUM_THREADS)
    pool.map(load_data_batch, data)
    pool.close()
    pool.join()

# Function to load data using multi-threading
def load_data_multithreading(data):
    with Pool(NUM_THREADS) as pool:
        pool.map(load_data_batch, data)

# Function to measure the time taken to load data
def measure_loading_time(data_loading_func, data):
    start_time = time.time()
    data_loading_func(data)
    end_time = time.time()
    loading_time = end_time - start_time
    print(f"Time taken to load data: {loading_time} seconds")

# Main data loading process
def load_data():
    # Read data from CSV file or any other source
    with open("data.csv", "r") as file:
        reader = csv.reader(file)
        data = [row for row in reader]

    # Divide the data into batches
    batches = [data[i : i + BATCH_SIZE] for i in range(0, len(data), BATCH_SIZE)]

    # Measure the time taken to load data before optimization
    print("Before optimization:")
    measure_loading_time(load_data_batch, data)

    # Measure the time taken to load data after multi-threading optimization
    print("After multi-threading optimization:")
    measure_loading_time(load_data_multithreading, batches)

    # Measure the time taken to load data after multiprocessing optimization
    print("After multiprocessing optimization:")
    measure_loading_time(load_data_multiprocessing, batches)

# Run the data loading process
load_data()